[submodule "thirdparty/bazelisk"]
	path = thirdparty/bazelisk
	url = git@github.com:bazelbuild/bazelisk.git
[submodule "registries/central"]
	path = registries/central
	url = git@github.com:bazelbuild/bazel-central-registry.git
